body {
	text-align: center;
	margin: 0 15%;
	border: solid blue 2px;
	width: 75%;
}

h1 {
	background-color: lightgray;
	top-margin: 20px;
	padding: 0px;
}

h2 {
	background-color: lightgray;
	margins: 0;
	paddings: 0;
	font-style: italic;